$general-color: #00bfa5;
$second-color: #009688;
$section-about-background-1:  #efeee9;
$section-about-background-2: #eeebdf;
$title-color: #373e42;
$title-second: #455a64;
$title-skill: #455a64;
$title-skill-name: #00bfa5;
$title-hyphen-color: rgba(55, 62, 66, 0.2);


$bernierReg: 'Bernier Regular';
$fontMedium: 'Roboto Medium';
$robotoLight: 'Roboto Light';
$robotoReular: 'Roboto Regular';
$robotoBold: 'Roboto Bold';

