$general-color: #00bfa5;
$second-color: #009688;
$section-about-background-1:  #efeee9;
$section-about-background-2: #eeebdf;
$title-color: #373e42;
$title-second: #455a64;
$title-skill: #455a64;
$text: #455a64;
$title-skill-name: #00bfa5;
$icon-color: #00bda3;
$blog-nav-normal: #000;
$blog-nav-active: #00bfa5;
$blog-title-post: #455a64;
$blog-date-post: #00bfa5;
$blog-title-post: #455a64;
$title-hyphen-color: rgba(55, 62, 66, 0.2);
$contact-form-color-text: rgba(69, 90, 100, 0.81);
$code-example-cotent: #e7e5e3;
$code-item-background: #f5f2f0;
$blog-page-head-line: #f1f1f2;
$welcome-icon-color: #00bfa5;
$welcome-title: #455a64;


$bernierReg: 'Bernier Regular';
$fontMedium: 'Roboto Medium';
$robotoLight: 'Roboto Light';
$robotoReular: 'Roboto Regular';
$robotoBold: 'Roboto Bold';

