$general-color: #00bfa5;
$second-color: #009688;
$bernierReg: 'Bernier Regular';
$fontMedium: 'Roboto Medium';
$robotoLight: 'Roboto Light';
$robotoReular: 'Roboto Regular';
$robotoBold: 'Roboto Bold';

