footer.footer-small
    .footer-small__content

        span.footer-small__content-item
            span.footer-small__developer
                i.fa.fa-copyright
                span.footer-small__my-name Волков Алексей
            span.footer-small__text
                span.footer-small__create-by создано с любовью в loftSchool
                span.footer-small__year 2016