.welcome
    .welcome__dashboard-info
        img.welcome__dashboard-my-photo(src='/assets/img/my-photo.jpg' alt='Volkov Alexey')
        h1.welcome__dashboard-title Волков Алексей
        h2.welcome__dashboard-second-title Личный сайт веб разработчика
        .welcome__dashboard-social-icon
            include ../sections/icons
    .welcome__navigation
        a.btn.welcome__navigation-social-link(href="/work-page.html")
            span.welcome__navigation-social-link-text Мои работы
        a.btn.welcome__navigation-social-link(href="/about.html")
            span.welcome__navigation-social-link-text Обо мне
        a.btn.welcome__navigation-social-link(href="/blog.html")
            span.welcome__navigation-social-link-text Блог

