footer.footer
    .container
        .footer__content
            .foonte__content_first
                .footer__content_left.footer__content_left-first
                    include nav
                .footer__content_right.footer__content_left-first
                    include icon-footor
            .foonte__content_second
                .footer__content_left.footer__content_left-second Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                .footer__content_right.footer__content_left-second
                    .footer__cop-my-decription © Волков Алексей| создано с любовью в LoftSchool | 2016
