footer.footer
    .footer-content__first
        .footer-content__first-left
            include nav
        .footer-content__first-right
            include icon-footer
    .footer-content__second
        .footer-content__second-left Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer-content__second-right
            .footer-content__second-right-decription © Волков Алексей | создано с любовью в LoftSchool | 2016