footer.footer
    .container
        .footer__content
            .foonte__content_first
                .footer__content_left
                    include nav

                .footer__content_right
                    include icons
            .foonte__content_second
                .footer__content_left
                    p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                .footer__content_right
                    p © Владимир Астахов | создано с любовью в LoftSchool | 2016
