form.contac-form
    .contac-form__inner
        h3.contac-form__title Связаться со мной
        input.contac-form__input(type=text placeholder='Имя')
        input.contac-form__input(type=text placeholder='Email')
        textarea.contac-form__input.contac-form__textarea(placeholder='Ваше сообщение')
    .contac-form__buttons
        button(type='submit' class='btn form__btn form__btn-submit') Отправить
        button(type='reset' class='btn form__btn form__btn-reset') Очистить

