.form__container
    form.contac__body-form(name="contact-me", method="post")
        .form__container-input
            span.label title
            input(type="text", name="title")

        .form__action-buttons
            input(type='submit', value='Отправить')
            input(type='button', value='Очистить')
