header.header__wrapper

        .header__content
            .header__background
                include icons
                include hamburger-menu

            .header__title-content
                .header__background-portfolio
                include ./personal-info

        a.arrow__down(href="#")
            +svg('arrow_down')

