header.header__content
    .header__background
        include icons
        include hamburger-menu

    .heder__title-content
        .header__background-portfolio
        include ./personal-info


    //-.header__background-svg-block
    //-    //svg.portfolio__text-background
    //-    //    use(xlink:href="assets/img/sprite.svg#portfolio_header")





