.profile.content__personal-info
    .profile__my-photo
        img(src="assets/img/my-photo.jpg" alt="Volkov Alexey")

    .profile__description_content
        h1.user__name-title Волков Алексей
        p.user__subject-info Личный сайт вебразработчика


