.profile
    .profile__personal
        .profile__personal-photo
            img(src="assets/img/my-photo.jpg" alt="Volkov Alexey").profile__personal-photo-img
        .profile__personal-description
            h1.profile__personal-description-title Волков Алексей
            p.profile__personal-description-subject Личный сайт вебразработчика
