.slider__conteiner
    .slider__conteiner-info
        .slider__title
            .slider__title-text Сайт школы онлайн образования
            .slider__skills html, css, javascript
            +button('link', '#', 'slider_link', 'Посмотреть сайт')

    .slider__conteiner-items
        .slider__items
            .slider__item.slider__active-item: img.slider__item-image(src='/assets/img/content/work-1.png' alt='looftshool')
            .slider__group-items
                .slider__item
                    +svg('portf_arrow_down')
                    img.slider__item-image(src='/assets/img/content/work-2.png' alt='looftshool')
                .slider__item
                    +svg('portf_arrow_up')
                    img.slider__item-image(src='/assets/img/content/work-3.png' alt='looftshool')




