.testimonials__conteiner
    .headline.headline__my-work
        .headline__my-work-title
            +svg('about_header')
            h2.headline__title-text Мои работы

    .testimonials__items
        +testimonial(testimonialItem)

    include ./main-contact-form
