body {
  margin: 0;
}

@import 'common/main';
@import 'common/greating';
@import 'common/nav';
@import 'common/hamburger-menu';
@import 'common/icon';
@import 'common/header';
@import 'common/footer';
