@import 'common-sass/_vars-core';
@import 'common-sass/_mixins';
@import 'core/_core';


@import 'common/main';
@import 'common/header';
@import 'common/icon';
@import 'common/hamburger-menu';
@import 'common/nav';
@import 'common/personal-info';
@import 'common/about-page';
@import 'common/headline';
@import 'common/slider';
@import 'common/testimonials';
@import 'common/main-contact-form';
@import 'common/footer';

@import 'common/greating';





