.traingie {

  &__about-left {
    fill: $section-about-background-1;
  }

  &__about-right {
    fill: $section-about-background-2;
  }
}
.container-about {
  height: 830px;

  @include phones {
    height: auto;
  }
}
.container-about__content {
  padding-right: 15px;
  padding-left: 15px;
  @include phones {
    padding: 0;
  }
}

.container-about__background-right,
.container-about__background-left {
  float: left;
  width: 50%;

  @include phones {
    float: none;
    width:100%;
    height: auto;
  }
}

.container-about__background-left{
  background: $section-about-background-1;
  height:100%;
}

.container-about__title {
  position: relative;
  text-align: center;
  width: 260px;
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
  letter-spacing: 1.5px;

  @include phones {
    width:100%;
    padding-top: 26px;
  }

  .icon {
    position: absolute;
    top: -50px;
    left: 0;

    @include phones {
      width: 242px;
      left: 50%;
      transform: translate(-50%);
      fill: #e6e5e0;
    }
  }
}

.container-about__title-general{
  font-family: $bernierReg;
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 63px;
  color: $title-color;

  @include phones {
    font-size: 42px;
    letter-spacing: 1.4px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 5px;
    left: -42px;
    top: 50%;
    z-index: 1;
    background: $title-hyphen-color ;
    transform: translateY(-50%);

    @include phones {
      left: -48px;
      width: 27px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    right: -42px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 5px;
    z-index: 1;
    background: $title-hyphen-color;

    @include phones {
      right: -48px;
      width: 27px;
    }
  }
}
.container-about__my-small-summary{
  display: inline-block;
  vertical-align: top;
  width: 444px;
  margin-top: 20px;
  margin-left: 56px;

  @include phones {
    margin-left: 0;
    margin-top: 27px;
    width: 100%;
  }
}
.container-about__my-photo {
  width: 100%;
  overflow: hidden;
  height: 390px;
  margin-bottom: 30px;
  @include phones {
    max-height: 348px;
    margin-bottom: 15px;
  }
}
.container-about__who-am-i {
  color: $title-second;
  font-family: $bernierReg;
  position: relative;
  text-align: center;
  font-size: 35px;
  width: 180px;
  margin: 0 auto 27px;

  @include phones {
    font-size: 25px;
    margin-top: 14px;
    width: 156px;
    margin-bottom: 14px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    z-index: 1;
    background: $title-hyphen-color;

    @include  phones {
      width: 27px;
      height: 7px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    z-index: 1;
    background: $title-hyphen-color;

    @include  phones {
      width: 27px;
      height: 7px;
    }
  }
}
.container-about__content-text {
  font-family: $robotoReular;
  margin: 10px 20px 10px 5px;
  line-height: 1.56;
  color: $text;

  @include phones {
    margin: 0;
    padding: 0 18px 15px 10px;

    font-size: 18px;
    line-height: 1.6;
  }
}
.container-about__background-right {
  height:100%;
  background: $section-about-background-2;

  @include phones {
    padding-top: 30px;
    .container-about__content-text {
      padding-bottom: 20px;
    }
  }
}

.container-about__title-second {
  color: #455a64;
  font-family: $bernierReg;
  position: relative;
  text-align: center;
  font-size: 35px;
  width: 305px;
  margin: 0 auto;
  padding: 0 40px;

  @include phones {
    font-size: 27px;
    width: 258px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    z-index: 1;
    background: $title-hyphen-color ;
    @include  phones {
      top: 50%;
      width: 28px;
      height: 7px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 20px;
    height: 5px;
    z-index: 1;
    background: $title-hyphen-color;
    @include  phones {
      top: 50%;
      width: 28px;
      height: 7px;
    }
  }
}

.container-about__content-wrapper {
    margin: 15px 20px;
  @include phones {
    margin: 0;
  }
}

.direction {
  margin-top: 56px;
  @include phones {
    margin: 0;
  }
}

.direction__wrapper-name {
  font-family: $fontMedium;
  font-size: 28px;
  color: $title-second;
  margin: 20px 0 18px 0;

  @include phones {
    margin: 5px;
    font-size: 26px;
    text-align: center;
  }
}

.direction__wrapper-item {
  display: inline-block;
  margin-right: 32px;

  @include phones {
    margin-left: 40px;
    margin-right: 20px;
  }
}

.direction__wrapper {
  margin: 0;
}
.skill {
  position: relative;
  float: left;
  height: 125px;
  width: 125px;
}
.skill__name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: $title-skill-name;
  font-size: 14px;
  font-family: $fontMedium;
}

.g-circles {
  fill: none;
  stroke-width: 20;
}

.sector {
  stroke-dasharray: 200 320;
  transition: all 1s;
  stroke: $general-color;
}

.maps {
  background: url('/assets/img/content/maps.jpg') no-repeat 0 0;
  background-size: cover;
  height:954px;
  padding-top: 327px;
  margin-bottom: -141px;

  &__dashbord{
    width: 380px;
    height: 290px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px 40px;
    background: rgba(255, 255, 255, 0.9);

    &-title {
      color: #455a64;
      font-family: $bernierReg;
      position: relative;
      text-align: center;
      font-size: 35px;
      width: 206px;
      margin: 0 auto;
      margin-bottom: 27px;

      &:after {
        content: '';
        position: absolute;
        right: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 5px;
        z-index: 1;
        background: rgba(55, 62, 66, 0.2);
      }

      &:before{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 5px;
        z-index: 1;
        background: rgba(55, 62, 66, 0.2);
      }
    }

    &-contact-info {
      margin-bottom: 10px;

      .icon {
        width:24px;
        height: 30px;
      }
    }

    &-content-description{
      display: inline-block;
      vertical-align: top;
      margin-top: 8px;
      margin-left: 5px;
      font-family: $fontMedium;
      color: $contact-form-color-text ;
    }

    .icon {
      fill:$icon-color;
    }
  }
}

.box-opacity {
  opacity: 0.8;
}