.blog-wrapper {
  padding: 70px 0;
}

.blog-wrapper {
  width: 1270px;
  margin:0 auto;

  @include phones {
    padding-top: 27px;
    padding-bottom: 29px;
    width: 100%;
  }
}

.navigation-block-menu {
  display: inline-block;
  width:25%;
  vertical-align: top;
  text-align: right;

  &__items {
    list-style-type: none;
    margin: 0;
  }

  &__item {
    height: 42px;
    display: table;
    float: right;
    margin-right: 48px;
    margin-bottom: 20px;

    &-link {
      display: table-cell;
      vertical-align: middle;
      font-family: $robotoReular;
      color: $blog-nav-normal;
      padding-right: 20px;
      line-height: 1.7;
    }
  }

  .active-item-link{
    color: $blog-nav-active;
    border-right: 3px solid $blog-nav-active;
    font-family: $robotoBold ;
    font-weight: 600;
  }
  @include  phones {
    display: none;
  }
}

.block-posts {
  display: inline-block;
  vertical-align: top;
  width: 74%;

  @include phones {
    width: 100%;
    padding: 11px 10px 11px 11px;
  }

  &__item:last-child {
    .block-posts__item-line {
      display: none;
    }
  }
}

.block-posts__item {
  &-title {
    font-family: $bernierReg;
    font-size: 35px;
    color: $blog-title-post;
    margin-top: 0;
    margin-bottom: 18px;

    @include phones {
      font-size: 26px;
      width: 85%;
      line-height: 1.3;
      margin-bottom: 14px;
    }
  }

  &-post-date {
    font-family: $robotoReular;
    color: $blog-date-post;
    font-size:16px;
    margin-bottom: 20px;

    @include phones {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  &-content-post {
    font-family: $robotoReular;
    line-height: 1.6;
    width: 96%;

    @include phones {
      width: 100%;
      color: #455a64;
      font-size: 18px;
      margin-top: 11px;
      margin-bottom: 0;
      line-height: 1.5;
      letter-spacing: 0.0155rem;;
      padding-right: 0.65rem;
    }
  }


  &-line {
    display: block;
    max-width: 680px;
    border: 3px solid $blog-page-head-line;
    margin-top: 68px;
    margin-bottom: 65px;

    @include phones {
      margin-bottom: 30px;
      margin-top: 35px;
      line-height: 1.3;
    }
  }
}


.code-example {
  background: $code-example-cotent;
  font-size: 12px;
  padding-left: 20px;
  @include phones {
    height: 130px;
  }

  &:before {
    content: '';
    display: block;
    padding-top: 20px;
    background: $code-item-background;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 20px;
    background: $code-item-background;
  }

  .code-example__item {
    font-family: $robotoLight;
    background: $code-item-background;
    padding-left: 5px;
  }

  .code-example__comment{
    color: #ccc;
    font-size: 11px;
  }
}