.footer {

  background: #2f4349;
  color: rgba(255, 255, 255, 0.5);

  a {
    text-decoration: none;
  }

  .footer__content_left {
    float: left;
    font-size: 16px;
    white-space: inherit;
    width: 590px;
  }
  .footer__content_right {
    float: right;
  }
  .foonte__content_second{
    clear: both;
  }
}

