.footer {
  background: #2f4349;
  color: rgba(255, 255, 255, 0.5);
}

.footer-content__first,
.footer-content__second {
  padding: 0 30px;
}

.footer-content__first {
  height: 74px;

  &-left {
    padding-top: 28px;
    display: inline-block;
  }

  &-right {
    float: right;
    display: inline-block;
    margin-top: 15px;
  }
}

.footer-content__second {
  margin-bottom: 13px;
  clear: both;
  border-top: 1px solid #44565b;

  &-left {
    float: left;
    line-height: 25px;
    font-size: 16px;
    white-space: inherit;
    width: 500px;
    margin-top: 10px;
  }

  &-right {
    float: right;
    margin-top: 30px;

  }
}
