.nav__hamburger-container {
  position: relative;
  float: right;
  display: inline-block;

  .nav__hamburger-icons {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 20px;

    span {
      display: block;
      background: #fff;
      height: 4px;
      margin-top: 5px;
      width: 100%;
    }


  }
}
