.hamburger-toggle {
  position: relative;
  float: right;
  cursor: pointer;

  .hamburger-toggle__icons{
    height: 20px;
    left: 0px;
    top: 20px;

    .icon {
      fill-opacity: 0.8;

      &:hover {
        fill-opacity: 1;
      }
    }
  }
}