.headline {
  position: relative;
  padding: 70px 0;
  background: #faf8f0;

  @include desktop {
    padding: 60px 0 53px 0;
  }

  @include  tablets {
    padding: 45px 0 45px 0;
  }

  @include phones {
    padding: 30px 0;
  }

  &-default-paddinf {
    padding: 0;
  }
  .traingie {
    position: absolute;
    fill: #faf8f0;
    width: 100%;
    height: 190px;
    top: -190px;

  }
  &__title {
    text-align: center;

    .icon {
      position: absolute;
      width: 500px;
      height: 100%;
      left:50%;
      transform: translate(-50%,-50%);
      top:50%;
      fill: #6d7070;
      opacity: 0.1;

      @include tablets {
        width: 100%;
      }
      @include phones {
        width:320px;
        top: 50px;

      }
    }

    &-text {
      font-family: $bernierReg;
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 0;
      font-size: 63px;
      color: #373e42;

      &:after {
        content: '';
        position: absolute;
        left: -42px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 22px;
        height: 5px;
        z-index: 1;
        background: #373e42;
        background: rgba(55, 62, 66, 0.2);
      }

      &:before {
        content: '';
        position: absolute;
        right: -42px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 22px;
        height: 5px;
        z-index: 1;
        background: #373e42;
        background: rgba(55, 62, 66, 0.2);
      }
      @include desktop {
        line-height: 1.1;
        width: 300px;

        &:after {
          top: 25%;
          left: -22px;
        }
        &:before {
          top: 25%;
          right: -22px;
        }
      }

      @include  tablets {
        font-size: 55px;
      }

      @include phones {
        font-size: 43px;
        &:before{
          top: 50%;
          right: 0;

        }
        &:after {
          top: 50%;
          left: 0;
        }
      }
    }
  }
}