.header {
  position: relative;
}

.header__content  {
  height: 600px;
  overflow: hidden;
  position: relative;
  background: url('/assets/img/bg.jpg')no-repeat 0 0;
  background-size: cover;

  @include laptop {
    height: 503px;
  }

  @include tablets {
    height: 580px;
    background-position-x: center;
    background-position-y: center;
  }

  @include phones {
    height: 685px;
    background-position-x: center;
    background-position-y: center;
  }
}


.header__content-control-panel{
  padding:30px 30px 0;

  @include tablets {
    padding:34px 14px 10px 26px ;
  }

  @include phones {
    padding: 15px 12px;
  }
}

.header__content-title-background {
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
  background: url('/assets/img/icons/portfolio_header.svg') no-repeat 50% 0;
  margin: 0 auto;
  height: 314px;
  width: 1175px;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;

  @include tablets {
    display: none;
  }
}

.arrow__down {
  position: absolute;
  left: 50%;
  bottom: 70px;
  z-index: 3;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  fill:#fff;

  .icon {
    fill-opacity: 0.8;

    &:hover {
      fill-opacity: 1;
    }
  }
}

.header__blog {
  height: 400px;
  background: url('/assets/img/header-blog.jpg') no-repeat 0 0;
  background-size: cover;

  @include phones {
    height: 687px;
  }

  &-control-panel {
    padding: 30px 30px 0;

    @include phones {
      padding: 15px 12px 0;
    }
  }
}

.title-header {

  &__content{
    width: 300px;
    margin: 0 auto;

    &-photo {
      text-align: center;

      &-my {
        width: 141px;
        height: 142px;
        border-radius: 50%;
        margin: 0 auto;

        @include phones{
          width: 170px;
          height: 170px;
        }

      }
    }

    &-title{
      position: relative;

      &-img {
        position: absolute;
        opacity: 0.1;

        .icon {
          height: 210px;
          margin-top: -45px;

          @include phones{
            height:130px;
            margin-top: -25px;
            width:320px;

          }
        }
      }
    }

    &-title{
      text-align: center;

      &-page-name {
        font-family: $bernierReg;
        font-size: 63px;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 0;

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 5px;
          background: hsla(0,0%,100%,0.4);
          top: 50%;
          left: 65px;
          transform: translate(-50%, -50%);
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 5px;
          background: hsla(0,0%,100%,0.4);
          top: 50%;
          right: 43px;
          transform: translate(-50%, -50%);
        }

        @include phones {
          margin-top: 30px;
          font-size: 40px;
        }
      }
    }

    &-description {
      text-align: center;
      font-family: $robotoReular;
      color: #fff;

      @include phones{
        font-size: 19px;
      }
    }
  }
  @include phones{
    margin-top: 100px;
  }

}

.headline.headline__blog {
  padding: 0;

  .traingie {
    fill: #fff;
  }
}