.header {
  position: relative;
}

.header__content  {
  height: 600px;
  overflow: hidden;
  position: relative;
  background: url('/assets/img/bg.jpg')no-repeat 0 0;
  background-size: cover;

    .header__content-control-panel{
      padding:30px 30px 0;
    }
}

.header__content-title-background {
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
  background: url('/assets/img/icons/portfolio_header.svg') no-repeat 50% 0;
  margin: 0 auto;
  height: 314px;
  width: 1175px;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
}

.arrow__down {
  position: absolute;
  left: 50%;
  bottom: 70px;
  z-index: 3;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  fill:#fff;

  .icon {
    fill-opacity: 0.8;

    &:hover {
      fill-opacity: 1;
    }
  }
}