.headline {
  position: relative;
  padding: 70px 0;
  background: #faf8f0;
  &-default-paddinf {
    padding: 0;
  }
  
  .traingie {
    position: absolute;
    fill: #faf8f0;
    width: 100%;
    height: 190px;
    top: -190px;
  }

  &__title {
    text-align: center;
    .icon {
      position: absolute;
      width: 500px;
      height: 100%;
      left:50%;
      transform: translate(-50%,-50%);
      top:50%;
      fill: #6d7070;
      opacity: 0.1;
    }

    &-text {
      font-family: $bernierReg;
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 0;
      font-size: 63px;
      color: #373e42;

      &:after {
        content: '';
        position: absolute;
        left: -42px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 22px;
        height: 5px;
        z-index: 1;
        background: #373e42;
        background: rgba(55, 62, 66, 0.2);
      }

      &:before {
        content: '';
        position: absolute;
        right: -42px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 22px;
        height: 5px;
        z-index: 1;
        background: #373e42;
        background: rgba(55, 62, 66, 0.2);
      }
    }
  }
}

