html, body {
  height: 100%;
}

.page__conten {
  height: auto;
  min-height: 100%;

  .page__conten-padding-bottom {
    padding-bottom: 141px;
  }
}

.page-full {
  height: auto;
  min-height: 100%;

  .page-conten__padding-bottom-welcome {
    padding-bottom: 50px;
    position: relative;
  }
}

.footer {
  height: 141px;
  margin-top: -141px;
}

.footer-small {
  height: 50px;
  margin-top: -50px;
}