.contac-form {
  position: relative;
  width: 380px;
  margin: 0 auto;
  background: url('/assets/img/contact-form-backg.jpg') no-repeat 0 0/cover;
  border-radius: 5px;
  overflow: hidden;

  &__inner {
    padding: 35px 20px 0;
  }

}

.contac-form {

  &__title {
    font-family: $bernierReg;
    margin-bottom: 40px;
    position: relative;
    font-size: 35px;
    color: #455a64;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 22px;
      height: 5px;
      z-index: 1;
      background: rgba(69, 90, 100, 0.2);
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 22px;
      height: 5px;
      z-index: 1;
      background: rgba(69, 90, 100, 0.2);

    }
  }

  &__input {
    font-family: $robotoReular;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 1em;
    border: none;
    margin-bottom: 20px;
  }

  &__textarea {
    min-height: 140px;
    resize: vertical;
  }

}

.contac-form__buttons{
  font-size: 0;

  .form__btn {
    font-family: $fontMedium;
    width: 50%;
    cursor: pointer;


    &:first-child{
      border-right: 2px solid rgba(255,255,255, 0.5);
    }
    &:hover {
      background: rgba(0, 191, 165, 0.3);
    }
  }
}