.contac-form {
  position: relative;
  width: 380px;
  margin: 0 auto;
  background: url('/assets/img/contact-form-backg.jpg') no-repeat 0 0/cover;
  border-radius: 5px;
  overflow: hidden;

  @include tablets {
    width:398px;
  }

  @include phones {
    margin:0 auto;
    width:95%;
  }
}

.contac-form__inner {
  padding: 35px 20px 0;

  @include desktop {
    padding: 10px 10px 17px;
  }

  @include  tablets {
    padding: 32px 10px 18px;
  }
}

.contac-form__title {
  font-family: $bernierReg;
  margin-bottom: 40px;
  position: relative;
  font-size: 35px;
  color: #455a64;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 22px;
    height: 5px;
    z-index: 1;
    background: rgba(69, 90, 100, 0.2);
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 22px;
    height: 5px;
    z-index: 1;
    background: rgba(69, 90, 100, 0.2);
  }

  @include desktop {
    margin: 13px 0 30px 0;
  }

  @include tablets {
    width: 330px;
    margin: 0 auto 15px;
    padding: 0;

    &:after {
      width: 26px;
    }
  }

  @include phones {
    margin:  38px auto 30px;
    font-size: 25px;
    width: 277px;

    &:after,
    &:before {
      width:28px;
    }
  }
}

.contac-form__input {
  font-family: $robotoReular;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1em;
  border: none;
  margin-bottom: 20px;

  @include desktop {
    margin: 0 10px 17px 10px;
    width: 95%;
  }

  @include tablets {
    margin: 5px 15px 17px 15px;
    width: 93%;
  }
  @include phones {
    width:91%;
    margin:0 10px 25px 19px;
    line-height: 1.6;
  }
}

.contac-form__textarea {
  min-height: 140px;
  resize: vertical;

  @include desktop {
    margin-bottom: 5px;
    margin-top: 0;
  }

  @include tablets {
    min-height: 163px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  @include phones {
    min-height: 171px;
  }
}

.contac-form__buttons {
  font-size: 0;

  .form__btn {
    font-family: $fontMedium;
    width: 50%;
    cursor: pointer;

    &:first-child {
      border-right: 2px solid rgba(255,255,255, 0.5);
    }
    &:hover {
      background: rgba(0, 191, 165, 0.3);
    }

    @include desktop {
      padding: 14px;
    }

    @include tablets {
      padding: 16px;
    }

    @include phones {
      padding: 18px 0;
    }
  }
}