.profile {
  margin-top: 90px;
  text-align: center;

  @include laptop {
    margin-top: 53px;
  }

  @include tablets {
    margin-top: 55px;
  }

  @include phones {
    margin-top: 85px;
  }
}

.profile__personal{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 2;

  &-photo {
    margin-bottom: 20px;

    @include tablets {
      margin-bottom: 27px;
    }

    &-img {
      width: 141px;
      height: 142px;
      border-radius: 50%;

      @include  tablets {
        width: 160px;
        height: 160px;
      }

      @include phones {
        width: 174px;
        height: 174px;
      }
    }
  }

  &-description {
    &-title{
      font-family: $fontMedium;
      color: #fff;
      font-size: 2.186em;
      margin: 0 0 5px;

      @include  tablets {
        margin-bottom: 10px;
      }

      @include phones {
        font-size: 25px;
        margin: 33px 0 0 5px;
      }
    }

    &-subject {
      font-family: $robotoLight;
      color: #fff;
      opacity: .8;
      font-size: 16px;
      margin: 0;
      padding: 0;

      @include phones {
        width: 250px;
        margin-top:12px;
        font-size: 17px;
      }
    }
  }
}