.profile {
  margin-top: 90px;
  text-align: center;
}
.profile__personal{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 2;

  &-photo {
    margin-bottom: 20px;
    &-img {
      width: 141px;
      height: 142px;
      border-radius: 50%;
    }
  }

  &-description {
    &-title{
      font-family: $fontMedium;
      color: #fff;
      font-size: 2.186em;
      margin: 0 0 5px;
    }
    &-subject {
      font-family: $robotoLight;
      color: #fff;
      opacity: .8;
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}

