.content__personal-info{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 2;
}
.profile {
  padding: 90px 0px 0px 9px;
  text-align: center;
  &__my-photo {
    margin-bottom: 20px;
    img {
      width: 141px;
      height: 142px;
      border-radius: 50%;
    }
  }
  &__description_content {
    .user__name-title{

      color: #fff;
      font-size: 2.186em;
      margin: 0 0 5px;
    }
    .user__subject-info {

      color: #fff;
      opacity: .8;
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}