.slider {
  @extend %clearfix;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  position: relative;

  @include desktop {
    height: 750px;
  }
  @include  tablets {
    min-height: 1170px;
  }
  @include phones {
    min-height: auto;
  }
}

.slider__left, .slider__right {
  float: left;
  width: 50%;
  height: 100%;

  @include tablets {
    float: none;
    width: 100%;
    height:auto;
  }

}

.slider__left {
  text-align: center;

  &:before {
    content: '';
    height: 100%;
    width: 0;
    vertical-align: middle;
    display: inline-block;

    @include tablets {
      display: none;
    }
  }
}

.slider__left {
  background: #f0efe9;
}

.slider__right {
  position: relative;
  background: #efebe0;

  @include phones {
    height:114px;
  }
}

.slider__display {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 30%;
  width: 50%;
  z-index: 10;

  @include tablets {
    position: static;
    text-align: center;
    width: 100%;
  }

  &-image {
    width: 645px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop {
      width: 475px;
    }

    @include tablets {
      width: 690px;
      transform: none;
      position: static;
      display: inline-block;
      padding-top: 120px;
      margin-bottom: 87px;
    }

    @include phones {
      margin-top: 70px;
        width: 306px;
        margin-bottom: 90px;
      padding-top: 0;

    }
  }
}

.slider__info {
  width: 420px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;


  @include tablets{
    display: block;
    margin: 0 auto;
    width: 530px;
    padding-bottom:80px;
  }

  @include phones {
    width: 300px;
    padding-bottom: 47px;
  }

  .title {
    font-family: $bernierReg;
    margin-bottom: 35px;
    font-size: 35px;
    color: $title-second;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background: rgba(69, 90, 100, 0.2);
      left: 38px;
      top: 25%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 22px;
      height: 5px;
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      right: 38px;
      top: 25%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 22px;
      height: 5px;
      z-index: 1;
      background: rgba(69, 90, 100, 0.2);
    }

    @include tablets {
      margin-bottom: 15px;
      &:after {
        width: 27px;
        right: 0;
      }
      &:before {
        width: 27px;
        left: 0;
      }
    }

    @include phones {
      font-size: 27px;
      line-height: 1.2;
      margin-bottom: 18px;

      &:before {
        left: 0;
        top: 50%;
        width: 29px;
        height: 7px;
      }
      &:after {
        right: 0;
        top: 50%;
        width: 29px;
        height: 7px;
      }
    }
  }

  .skills {
    padding: 20px 0;
    margin-bottom: 40px;
    font-size: 16px;
    color: $title-skill-name;
    text-transform: uppercase;
    position: relative;
    border-top: 3px solid rgba(0, 191, 165, 0.3);
    border-bottom: 3px solid rgba(0, 191, 165, 0.3);
    text-align: center;

    @include tablets {
      width: 395px;
      margin: 0 auto 40px;
    }

    @include phones {
      padding: 10px;
      width: 100%;
      margin-bottom: 38px;;
    }
  }
}

.slider__controls {
  @extend %clearfix;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30%;

  @include tablets {
    position: static;
    height:246px;
  }
  @include phones {
    height: 100%;
  }
}

.slider__item {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(171, 168, 161, 0.7);
  }

  &:first-child:before{
    content: '';
    background: rgba(185, 184, 180, 0.7);
  }
}

.slider__item-image {
  height: 100%;
}
