.page-full {
  background: url("/assets/img/wb.jpg") no-repeat 0 0 ;
  background-size: cover;
}

.header-welcome {
  padding: 25px;
  min-height:100px;
  text-align: right;

  @include phones {
    padding: 13px;
    margin-bottom: 62px;
  }

  .btn-link {
    width: 180px;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid $welcome-border-button-flip;
    font-weight: 600;
    background: transparent;
    cursor: pointer;

    @include phones {
      padding: 14px 13px;
      width: 180px;
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
    }

    &:hover {
      background-color: $welcome-button-flip-bg-hover;
      color: $welcome-button-flip-color-hover;
    }
  }
}

.flip-container,
.flip-container__flipper-front,
.flip-container__flipper-back {
  width: 380px;
  border-radius: 5px;

  @include phones {
    width:370px;
    border-radius: 8px;
  }
}

.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .flip .flip-container__flipper-back {
    transform: rotateY(0deg);
  }

  .flip .flip-container__flipper-front {
    transform: rotateY(180deg);
  }

  &__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    &-front,
    &-back {
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: 0.9s;
      transform-style: preserve-3d;
      overflow: hidden;
    }

    &-front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    &-back {
      transform: rotateY(-180deg);
    }
  }
}

.vertical{

  .flip-container {
    position: relative;
  }

  .flip-container__flipper-back {
    transform: rotateX(180deg);
  }

  .flip .flip-container__flipper-back {
    transform: rotateX(0deg);
  }

  .flip .flip-container__flipper-front {
    transform: rotateX(180deg);
  }
}

.welcome {
  overflow: hidden;
}

.welcome__dashboard {
  &-info {
    background: $welcome-login-background;
    padding: 40px 40px 35px 40px;
    @include phones {
      padding-bottom: 45px;
    }
  }

  &-my-photo {
    display: block;
    margin: 0 auto;
    border-radius: 50%;

    @include phones {
      margin-top: 10px;
      width: 173px;
      height: 173px;
    }
  }

  &-title {
    margin: 15px 0 0 0;
    text-align: center;
    font-family: $fontMedium;
    font-size: 28px;
    color: $welcome-title;

    @include phones {
      margin-top: 25px;
    }
  }

  &-second-title {
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
    font-family: $robotoReular;
    font-weight: 400;
    color: $welcome-title;

    @include phones {
      margin-top: 8px;
      font-size: 18px;
    }
  }

  &-social-icon {
    text-align: center;
    padding-top: 28px;

    @include phones {
      padding-top: 36px;
    }

    .socials__content-item {
      @include phones {
        margin-right: 35px;
      }

      .icon {
        fill: $welcome-icon-color;
        fill-opacity: 0.6;

        @include phones {
          width: 33px;
          height: 33px;
        }

        &:hover {
          fill-opacity: 1;
        }
      }
    }
  }
}

.welcome {
  &__navigation-social-link {
    display: inline-block;
    width: 33.3%;
    padding: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    text-align: center;
    height: 45px;

    @include phones {
      height: 55px;
      &:first-child {
        width:41.666666667%;
      }
      &:nth-child(2) {
        width: 33.333333333%;
      }
      &:last-child {
        width: 25%;
      }
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 1%;
      vertical-align: middle;
    }

    &-text {
      display: inline-block;
      vertical-align: middle;
      font-family: $fontMedium;
      position: relative;
    }

    &:hover {
      background-color: $welcome-login-hover-link;
    }
  }

  &__navigation{
    &-social-link:last-child {
      border: 0;
    }
  }
}

.login__form-box {
  padding: 20px 20px 30px;
  background: $welcome-login-background;

  @include phones {
    padding-bottom: 25px;
  }
}

.login__form-title {
  text-align: center;
  font-family: $bernierReg;
  margin: 15px 30px 35px 30px;
  letter-spacing: 1.2px;
  color: $login-title-color;
  position: relative;

  @include phones {
    margin: 20px 14px 40px 8px;
    font-size: 37px;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 5px;
    position: absolute;
    background: $login-dash-color;
    top: 50%;
    left: 0;

    @include phones{
      width: 27px;
      height: 7px;
      top: 41%;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 5px;
    position: absolute;
    background: $login-dash-color;
    top: 50%;
    right: 0;

    @include phones{
      width: 27px;
      height: 7px;
      top: 41%;
    }
  }
}

.login__form-group {
  margin-bottom: 20px;
  height: 54px;
  position: relative;

  @include phones {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &-icon {
    width: 13%;
    height: 100%;
    float: left;
    background: $login-icon-bg-input;
    position: relative;
    border-radius: 5px 0 0 5px;

    @include phones {
      width: 17%;
    }
  }

  .icon {
    width: 14px;
    height: 14px;
    margin-left: 14px;
    position: absolute;
    fill: $login-icon-input;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);

    @include phones {
      margin-left: 18px;
      width: 16px;
      height: 17px;
    }
  }
}

.login__form-input {
  float: left;
  width: 87%;
  height:100%;
  padding-left: 20px;
  border: 0;
  border-radius: 0 5px 5px 0;

  @include phones {
    width: 83%;
    padding-left: 25px;
    font-size: 18px;
  }
}

.login__form-radio-ask {
  text-align: center;

  &-text {
    margin: 5px 0;
    color: $login-ask-text;
    font-weight: 600;

    @include phones {
      margin: 22px 0;
    }
  }
}
.login__form-text-ask {
  font-size: 21px;
}

.login__form-radio-text {
  margin: 0;
}

.login__form-capcha-checkbox {
  margin: 20px auto;
  text-align: center;

  @include phones {
    margin: 31px auto 10px;
  }
}

.login__form-checkbox {
  display: none;
}

.login__form-checkbox-text {
  display: inline;
  font-family: $robotoReular;
  color: $login-ask-text;
  cursor: pointer;

  &-content {
    vertical-align: -2px;

    @include phones {
      font-size: 21px;
      vertical-align: -5px;
    }
  }
}

.login__form-checkbox + .login__form-checkbox-text:before {
  content: "\f00c";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 10px;
  padding: 1px;
  border-radius: 3px;
  color: transparent;
  background-color: $login-checkbox-bg-color;
  transition-duration: 0.3s;

  @include phones {
    width: 23px;
    height: 22px;
    margin-right: 10px;
  }
}

.login__form-checkbox:checked + .login__form-checkbox-text:before {
  color: $login-check-color;
}

.login__form-radio-answer {
  margin: 7px;

  @include phones {
    margin-top: 12px;
  }
}

.login__form-radio {
  display: none;
}

.login__form-radio-text {
  display: inline;
  font-family: $robotoReular;
  color: $login-ask-text;
  margin:0  20px;
  cursor: pointer;

  @include phones {
    margin: 0 31px;
  }

  &-content {
    vertical-align: -2px;
    @include phones {
      vertical-align: middle;
      font-size: 17px;
    }
  }
}

.login__form-radio + .login__form-radio-text:before {
  content: "\f111";
  display: inline-block;
  width: 17px;
  font-size: 9px;
  height: 17px;
  line-height: 18px;
  vertical-align: middle;
  margin-right: 10px;
  padding: 1px;
  border: 1px solid $login-radio-border;
  border-radius: 50%;
  color: transparent;
  background-color: $login-radio-background ;
  transition-duration: 0.3s;

  @include phones {
    width: 21px;
    height: 21px;
  }
}

.login__form-radio:checked + .login__form-radio-text:before {
  color: $login-radio-color;
}

.login-form__buttons {
  width: 100%;
  font-size: 0;

  .btn-login-form{
    width: 50%;
    font-family: $fontMedium;
    background: $login-button-bg-color;

    @include phones {
      height: 55px;
    }

    &:hover {
      background: $login-button-bg-hover-color;
      cursor: pointer;
      opacity: 0.8;
    }

    &:first-child{
      border-right: 2px solid $login-button-border;
    }
  }
}

.footer-small {
  text-align: center;
  font-family: $robotoLight;
  color: #fff;

  .fa {
    font-size: 13px;
  }
}

.footer-small__content {
  display: inline-block;

  @include phones {
    margin-top: 32px;
    line-height: 1.75;
  }
}

.footer-small__content-item {
  @include phones {

  }
}

.footer-small__developer {
  @include phones {
    display: block;
    font-size: 17px;
  }
}

.footer-small__my-name {
  @include phones {
    margin: 0 5px;
  }
}

.footer-small__text {
  @include phones {
    font-size: 16px;
  }
}

.footer-small__create-by {
  &:after {
    content: '|';
    margin:0 3px;
  }
}

.footer-small__year {
  @include phones {
    font-size: 16px;
  }
}