.page-full {
  background: url("/assets/img/wb.jpg") no-repeat 0 0 ;
  background-size: cover;
}

.header-welcome {
  padding: 25px;
  text-align: right;

  .btn-link {
    padding: 12px 30px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    
    &:active {
      background-color: #fff;
      color: #00bfa5;
    }
  }
}

.dashbord-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__content {
    width: 380px;
    height: 398px;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 40px;
    border-radius: 5px;
    overflow: hidden;

    &-photo {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
    }

    &-title {
      margin: 15px 0 0 0;
      text-align: center;
      font-family: $fontMedium;
      font-size: 28px;
      color: $welcome-title;
    }
    &-second-title {
      margin: 5px 0;
      text-align: center;
      font-family: $robotoReular;
      font-weight: 400;
      color: $welcome-title;
    }
    &-icon {
      text-align: center;
      margin: 35px 0px 49px 0px;

      .socials__content-item .icon {
        fill: $welcome-icon-color;
        fill-opacity: 0.6;

        &:hover {
          fill-opacity: 1;
        }
      }
    }
  }
}


.btn-welcone {
  font-family: $fontMedium;
  padding: 15px 31px;
  border-right: 2px solid rgba(255,255,255, 0.7);
  
  &:active {
    background-color: #26a69a;
  }
}
.footer-small {

  &__content {
    text-align: center;
    font-family: $robotoLight;
    color: #fff;
  }
}