* {
  box-sizing: border-box;
  font-family: $robotoLight;

}
body {
  margin: 0;
}

a {
  text-decoration: none;
}
@mixin clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.icon {
  line-height: 15px;
  display: inline-block;
  fill: #fff;
  fill-opacity: 1;

}

.btn {
  padding: 15px 20px;
  background: #00bfa5;
  color: #fff;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.btn__link {
  border-radius: 5px;

  .icon__link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    fill: #fff;
  }
}