* {
  box-sizing: border-box;
  font-family: $robotoLight;
}

html {
  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 15px;
  }

  @include tablets{
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.icon {
  line-height: 15px;
  display: inline-block;
  fill: #fff;
  fill-opacity: 1;
}

.btn {
  padding: 15px 20px;
  background: #00bfa5;
  color: #fff;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.btn__link {
  border-radius: 5px;

  .icon__link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    fill: #fff;
  }

  @include  tablets {
    padding: 17px 35px;
  }
  @include phones {
    font-size: 18px;
    font-family: $fontMedium ;
    padding:14px 17px;

    .icon {
      width: 30px;
      height: 24px;
      margin-left: 5px;
    }
  }
}