* {
  box-sizing: border-box;
  font-family: $fontMedium;

}
body {
  margin: 0;
}
.btn {
  padding: 15px 20px;
  background: #00bfa5;
  color: #fff;
  font-size: 16px;
  border: none;
  text-decoration: none;
}
.btn__link {
  border-radius: 5px;
  .icon-link {

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}

