$col-amount: 12;
$grid-spacing: 3%;

[class^="col-"]{
  float: left;
  box-sizing: border-box;
  padding-right: $grid-spacing;

  &:last-child {
    padding-right: 0;
  }
}

%clearfix{
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.container {
  @extend %clearfix
}

@for $i from 1 through $col-amount {
  .col-#{$i}{
    width: 100% / $col-amount * $i;
  }
}