.icon__arrow_down{
  height: 18px;
}
.icon__hamburger {
  width: 41px;
  height: 36px;
}
.icon__vk {
  width: 34px;
  height: 28px;
}
.icon__github {
  width: 33px;
  height: 23px;
}
.icon__in {
  width: 33px;
  height: 23px;
}
.icon__arrow_down {
  width: 32px;
}
.icon__vk_round {
  width: 36px;
  height:36px;
}
.icon__github_round {
  width: 36px;
  height:36px;
}
.icon__in_round{
  width: 36px;
  height:36px;
}
.icon__portf_arrow_down {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  fill: #fff;
  width: 43px;
  height: 27px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
}
.icon__portf_arrow_up {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  fill: #fff;
  width: 43px;
  height: 27px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
}
.icon__link {
  width: 20px;
  height: 20px;
}
.icon__skype {
  width: 30px;
  height:30px;
}

.icon__envelope {
  width: 30px;
  height:30px;
}
.icon__phone {
  width: 30px;
  height:30px;
}
.icon__map_marker{
  width: 30px;
  height:30px;
}