.icon-arrow_down{
  height: 18px;
}

.icon-hamburger {
  width: 41px;
  height: 36px;
}
.icon-vk {
  width: 34px;
  height: 28px;
}
.icon-github {
  width: 33px;
  height: 23px;
}
.icon-in {
  width: 33px;
  height: 23px;
}

.icon-arrow_down {
  width: 32px;
}

.icon-portf_arrow_down {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  fill: #fff;
  width: 43px;
  height: 27px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
}
.icon-portf_arrow_up {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  fill: #fff;
  width: 43px;
  height: 27px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
}