extends ../_template
block variables
    - var title = 'About page'


block header
    include  ../sections/main-header
block content

    .headline.headline-default-paddinf
        svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" ).traingie
            polygon(points="0,23 0,86 500.8,86 500.8,85").traingie__about-left
            polygon(points="1000,23 1000,86 500,86 500,85").traingie__about-right

    .container.container-about
        .container-about__background-left
            .container-about__content
                .container-about__title
                    +svg('about_header')
                    h2.container-about__title-general  Обо мне
                .container-about__my-small-summary
                    img.container-about__my-photo(src='assets/img/my-photo.jpg' alt='Волков Алексей')
                    h3.container-about__who-am-i Кто я
                    p.container-about__content-text
                        | Я веб разработчик из Новосибирска. Мне 27 лет.
                        | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.<br/>
                    p.container-about__content-text
                        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .container-about__background-right
            .container-about__content
                h3.container-about__title-second Чем я могу быть вам полезен
                .container-about__content-wrapper
                    p.container-about__content-text
                        | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

                    .direction
                        .direction__wrapper
                            h4.direction__wrapper-name Frontend
                            .direction__wrapper-items
                                .direction__wrapper-item
                                    +skills('HTML 5')
                                .direction__wrapper-item
                                    +skills('CSS3')
                                .direction__wrapper-item
                                    +skills('JavaScript & jQuery')
                        .direction__wrapper
                            h4.direction__wrapper-name Backend
                            .direction__wrapper-items
                                .direction__wrapper-item
                                    +skills('PHP')
                                .direction__wrapper-item
                                    +skills('mySQL')
                                .direction__wrapper-item
                                    +skills('Node.js & npm')
                                .direction__wrapper-item
                                    +skills('Mongo.db')
                        .direction__wrapper
                            h4.direction__wrapper-name WorkFlow
                            .direction__wrapper-items
                                .direction__wrapper-item
                                    +skills('Git')
                                .direction__wrapper-item
                                    +skills('Gulp')
                                .direction__wrapper-item
                                    +skills('Bower')

    .maps
        .maps__dashbord
            .maps__dashnord-content
                h3.maps__dashbord-title Контакты
                .maps__dashbord-contact-info
                    +svg('skype')
                    a.maps__dashbord-content-description(href='skype:volkov.a.fe ') volkov.a.fe

                .maps__dashbord-contact-info
                    +svg('envelope')
                    a.maps__dashbord-content-description(href='mailto:volkov.a.fe@gmail.com ') volkov.a.fe@gmail.com
                .maps__dashbord-contact-info
                    +svg('phone')
                    a.maps__dashbord-content-description(href='tel:+375293870054 ') +375 29 387 00 54
                .maps__dashbord-contact-info
                    +svg('map_marker')
                    a.maps__dashbord-content-description(href='https://www.google.by/maps/place/vulica+Karla+Marksa+39,+Minsk/@53.9001568,27.5597218,17z/data=!3m1!4b1!4m5!3m4!1s0x46dbcfc17227970f:0xfbd6e079a56caa5b!8m2!3d53.9001568!4d27.5619158?hl=en', target="_blank") г. Минск ул Карло Маркса, д. 39

block footer
    .box-opacity
        include ../sections/footer

block script

