extends ../_template-login

block variables
    - var title = 'Work page'


block header
    .header-welcome
        a.btn.btn-link Авторизоваться

block content
    .dashbord-box
        .dashbord-box__content
           img.dashbord-box__content-photo(src='/assets/img/my-photo.jpg' alt='Volkov Alexey')
           h1.dashbord-box__content-title Волков Алексей
           h4.dashbord-box__content-second-title Личный сайт веб разработчика
            .dashbord-box__content-icon
                include ../sections/icons


        .dashbord-box__navigation
            a.link(href="#") Мои работы
            a.link(href="#") Обо мнеексей
            a.link(href="#") Блог



block footer
    include ../sections/_small-footer
