extends ../_template
block variables
    - var title = 'Work page'

block header
    include  ../sections/main-header
block content

    .headline__my-work
        svg(viewBox="0 0 1000 85" preserveAspectRatio="none" class="traingie")
            polygon(class="left" points="0,0   0,86   500.8,86   500.8,75.5")
            polygon(class="right" points="1000,0   1000,86   500,86   500,75.5")

    include ../sections/title-mid

    .box__about-site-schoole


    .box__slader-projects


    include ../sections/title-mid

    include ../sections/testimonials

    include  ../sections/main-contact-form

