extends ../_template
block variables
    - var title = 'Work page'
block content

    include ../sections/title-mid

    .box__about-site-schoole


    .box__slader-projects


    include ../sections/title-mid

    include ../sections/testimonials

    include  ../sections/main-contact-form